<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 profile-box">
			<br>	
				<legend>My Profile</legend>

				
				<%= link_to 'Edit My Profile', edit_user_path(current_user), class: "btn btn-default" %>
			<%= link_to 'See my messages', user_messages_path(current_user), class: "btn btn-default"%>
               
                <h2>Name:<%= @user.name %></h2>
				<p>Username:<%= @user.username %><br></p>
				<p>Email:<%= @user.email %></p>
				<p>Profession:<%= @user.profession %></p>
				<p>Age:<%= @user.age %></p> 
				<p>Gender:<%= @user.gender %></p> 
				<p>Height:<%= @user.height %></p>
				<p>Education:<%= @user.education %></p>
				<p>Country:<%= @user.country %></p>
				<p>City:<%= @user.city.name %></p>
				<p>Number of children:<%= @user.number_of_children %></p>
				<p>Bio:<%= @user.bio %></p>
				<div><img src="<%= @user.image_url %>" id="image2"></div>
				<br>
			</div>
		</div>
	</div>
